@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");
@media screen and (max-width: 400px) {
  .navbar .navbar-brand {
    font-size: 40px !important;
  }
  .form-box {
    width: 320px !important;
  }
}
@media screen and (max-width: 768px) {
  .card-1,
  .backside-1 {
    visibility: visible !important;
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
  .navbar-brand {
    padding-right: 0px !important;
    font-size: 35px !important;
  }

  .shift {
    margin-left: 1px !important;
  }
  .search {
    margin-left: 10px !important;
  }
  .search-box {
    width: 130px !important;
  }
  .navbar li a {
    padding: 15px 5px 15px 10px !important;
    font-size: 20px !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
  .navbar-brand {
    padding-right: 0px !important;
    font-size: 35px !important;
  }

  .shift {
    margin-left: 0px !important;
  }
  .search {
    margin-left: 0px !important;
  }
  .search-box {
    width: 150px !important;
  }
  .navbar li a {
    padding: 15px 10px 15px 10px !important;
    font-size: 20px !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1000px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }

  .navbar-brand {
    padding-right: 0px !important;
    font-size: 35px !important;
  }

  .shift {
    margin-left: 25px !important;
  }
  .search {
    margin-left: 18px !important;
  }
  .search-box {
    width: 150px !important;
  }
  .navbar li a {
    padding: 15px 10px 15px 25px !important;
    font-size: 20px !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
  .navbar-brand {
    padding-right: 0px !important;
  }

  .shift {
    margin-left: 0px !important;
  }
  .search {
    margin-left: 9px !important;
  }
  .search-box {
    width: 150px !important;
  }
  .navbar li a {
    padding: 15px 10px 15px 20px !important;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
  .navbar-brand {
    padding-right: 0px !important;
  }

  .shift {
    margin-left: 0px !important;
  }
  .search {
    margin-left: 5px !important;
  }
  .search-box {
    width: 200px !important;
  }
  .navbar li a {
    padding: 15px 10px 15px 30px !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
  .shift {
    margin-left: 0px !important;
  }
  .search {
    margin-left: 10px !important;
  }
  .search-box {
    width: 250px !important;
  }
  .navbar li a {
    padding: 15px 10px 15px 30px !important;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
  .shift {
    margin-left: 0px !important;
  }
  .search {
    margin-left: 5px !important;
  }
  .search-box {
    width: 200px !important;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1496px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
  .shift {
    margin-left: 2% !important;
  }
  .search {
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .card-1,
  .backside-1 {
    visibility: visible !important;
    display: none;
  }
  .col-sm-6 {
    margin-left: 180px !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: rgba(65, 161, 187, 0.292); */
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
}
.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 13px;
}
.form-control:focus {
  border-color: #33cabb;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.navbar-default {
  border: #090979;
}

.navbar {
  background: #09097947;
  padding-left: 16px;
  padding-right: 16px;

  border-radius: 0;
  width: 100%;
}

.nav img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  padding-left: 0;
  font-size: 50px;
  padding-right: 50px;
  color: white !important;
}
.navbar .navbar-brand b {
  font-weight: bold;
  color: #fada5e;
}
.navbar .form-inline {
  display: inline-block;
}
.navbar .nav li {
  position: relative;
}

.navbar .nav li a {
  color: #fada5e;
  font-size: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bolder;
  font-family: "Merriweather", serif;
}
.shift {
  margin-left: 5%;
}
.navbar_headings:hover {
  color: white;
}

.search-box {
  border-radius: 20px;
}
.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  color: black;
  background: white;
  padding-top: 8px;
  padding-bottom: 6px;
  vertical-align: middle;
  border: none;
  border-radius: 124px;
  margin: 10px;
}
.navbar .nav .btn-primary:hover,
.navbar .nav .btn-primary:focus {
  color: white;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
}
.navbar .navbar-right li:first-child a {
  padding-right: 35px;
  padding-left: 50px;
}
.navbar ul li i {
  font-size: 18px;
}
.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 22px;
}
.navbar ul.nav li.active a,
.navbar ul.nav li.open > a {
  background: transparent !important;
}
.navbar .nav .get-started-btn {
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
  color: #fff;
  background: #31bfb1 !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .nav .dropdown-menu li {
  color: black;
  font-weight: normal;
}
.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;

  line-height: normal;
}
.navbar .navbar-form {
  border: none;
}
.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {
  color: #33cabb;
  padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}
.navbar .form-wrapper .social-btn .btn,
.navbar .form-wrapper .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
  border-radius: 30px;
}
.navbar .social-btn .btn-primary {
  background: #db4437;
}
.navbar .social-btn .btn-primary:hover {
  background: #db4437;
}

.navbar .social-btn .btn-info {
  background: #a3aaae;
}
.navbar .social-btn .btn-info:hover {
  background: black;
}

.navbar .social-btn .btn i {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: 2px;
}
.navbar .form-wrapper .form-footer {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
  margin-top: 3px;
}

.navbar .checkbox-inline {
  font-size: 13px;
}
.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  font-size: 50px;
  margin-top: 0px;
}

#team .card {
  border: none;
  background: #ffffff;
  border-radius: 30px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  border-radius: 30px !important;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.card-text {
  margin: 0px 25px 10px;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: black !important;
  margin-top: -25px;
}

.frontside .card .card-body img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: -36px;
}
.card-1,
.backside-1 {
  visibility: hidden;
}
\
